!!! XML
!!! Strict
%html
  %head
    %title
      Trânsito em SP
    %body
      = yield
      %hr/
      %p
        useless app by
        %br/
        %a{:href=>"http://qmx.me"}
          @qmx
      %a{:href => "http://github.com/qmx/transito"}
        %img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", :style => "position: absolute; top: 0; right: 0; border: 0;", :alt => "Fork me on github"}
